footer.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

footer.footer .social-link {
  display: block;
  height: 3rem;
  width: 3rem;
  line-height: 3.3rem;
  font-size: 1.5rem;
  background-color: #212529;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}
