<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-4">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/groups/GTmemesforbuzzedteens/">
          <i class="icon-social-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/samzcatz">
          <i class="icon-social-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="https://github.com/Yuliy97/MissionSupport/tree/master/mission_support">
          <i class="icon-social-github"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; Mission Support 2018</p>
  </div>
</footer>
