<div class="container">
  <form (submit)="on_register()">
    <fieldset>
      <legend><h1>Register</h1></legend>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" name="username">
      </div>
      <div class="form-group">
        <label for="first_name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="first_name" name="first_name" placeholder="First name">
        <input type="text" style="margin-top: 1%;" class="form-control" [(ngModel)]="last_name" name="last_name" placeholder="Last name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" [(ngModel)]="email" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="email">Organization</label>
        <input type="text" class="form-control" [(ngModel)]="organization" name="organization">
        <small id="OrganizationHelp" class="form-text text-muted">You can leave this field blank.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password">
      </div>
    </fieldset>
    <input style="width: 100px; margin-bottom: 3%;" type="submit" class="btn btn-primary">
  </form>
</div>
