<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Calendar.Template.VB2" version="1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.1.444934" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms.Maps" version="2.5.1.444934" targetFramework="portable45-net45+win8+wpa81" />
  <package id="XamForms.Controls.Calendar" version="1.1.1" targetFramework="portable45-net45+win8+wpa81" />
</packages>