<sebm-google-map #gm [latitude]="lat" [longitude]="lng" [zoom]="3">
     <sebm-google-map-marker *ngFor="let marker of updated_markers; let i = index"
         [latitude]="marker.lat"
         [longitude]="marker.lng"
         (markerClick)="gm.lastOpen?.close(); gm.lastOpen = info_window">
         <sebm-google-map-info-window #info_window>
             <h1>{{site_info[i].name}}</h1>
             <br>
             <strong>Organization: {{site_info[i].organization}}</strong>
             <br>
             <strong>Site Information: {{site_info[i].information}}</strong>
             <br>
             <strong>Created on: {{site_info[i].date}}</strong>
             <br>
             <strong>Address: {{site_info[i].address}}</strong>
             <br>
             <button type="button" (click)="on_edit(site_info[i])" *ngIf="auth_service.loggedIn()" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Add Site Information</button>

         </sebm-google-map-info-window>
     </sebm-google-map-marker>
</sebm-google-map>

<div class="container">
  <button style="display: inline-block;" type="button" *ngIf="auth_service.loggedIn()" id="open_modal" class="btn btn-primary" data-toggle="modal" data-target="#site_modal">Add a site</button>
  <button type="button" id="open_all_modal" class="btn btn-primary" data-toggle="modal" data-target="#view_site_modal">View all sites</button>
</div>

<div class="modal fade" id="site_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Site Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Site Name
          <input type="text" [(ngModel)]="site_name" name="site_name" class="form-control">
        </label>
        <label>Address
          <input type="text" [(ngModel)]="site_address" name="site_address" class="form-control">
        </label>
        <label>Organization
          <input type="text" [(ngModel)]="site_organization" name="site_organization" class="form-control">
        </label>
        <label>Date
          <form #myForm="ngForm" novalidate>
            <my-date-picker [(ngModel)]="created_on" name="created_on" [options]="myDatePickerOptions"
                    [(ngModel)]="model" required></my-date-picker>
          </form>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="on_add()" type="button" id="add_site" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel" style="text-align: center;">Edit Site</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <label>Input Site Information:
              <input type="text" [(ngModel)]="site_information" name="site_information" class="form-control">
            </label>
          </form>
        </div>
        <div class="modal-footer">
          <button (click)="on_save_edits()" type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
        </div>
      </div>
  </div>
</div>

<div class="modal fade" id="view_site_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">All sites</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="search" id="search_bar" class="form-control" (input)="search()" placeholder="Search" style="margin-bottom: 1%;">
            
            <table class="table table-bordered" id="sites_table">
                <thead>
                  <th scope="col">Site name</th>
                  <th scope="col">Address</th>
                </thead>
                <tbody>
                  <!-- Populate table data with all sites; same idea -->
                  <tr *ngFor="let site of site_info">
                      <td>{{site.name}}</td>
                      <td>{{site.address}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>