<div class="jumbotron" style="font-family: 'Avenir';">
  <h1 class="line-1 anim-typewriter" style="margin-bottom: 2%;">Hi, welcome to Mission Support.</h1>
  <p class="lead" style="text-align: center;">Organize mission trips easily.</p>
  <hr class="my-4">
</div>

<body>
  <hr>
  <div class="row" style="margin-top: 5%;">
    <div class="col">
      <div class="card text-white bg-primary mb-3" style="max-width: 30rem; ">
        <div class="card-body">
          <h4 class="card-title">We're here to help</h4>
          <p class="card-text">Introducing Mission Support: A mobile and web application geared towards connecting medical organizations.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
        <div class="card-body">
          <h4 class="card-title">Sites functionality</h4>
          <p class="card-text">Navigate to the sites tab above or simply use the searchbar below to help you organize your teams with ease.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group" style="width: 75%; margin: auto;">
    <input style="margin-top: 15%;" type="email" class="form-control" placeholder="Search for a country here...">
  </div>
</body>
