#card {
  margin-top: 5%;
}

.jumbotron {
  margin-top: 5%;
  font-family: 'Avenir';
}

.card:hover {
  opacity: 0.7;
}

/* Global */
body {
  background-size: cover;
  min-height: 100%;
  overflow: hidden;
  height: calc(100vh - 50em);
  padding: 2em;
  margin: 0px;
}

.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(40) 1s 1 normal both,
             blinkTextCursor 300ms steps(40) infinite normal;
}
@keyframes typewriter{
  from{ width: 0; }
  to { width: 16.5em; }
}
@keyframes blinkTextCursor{
  from { border-right-color: rgba(0,0,0,.75); }
  to { border-right-color: transparent; }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
