<div class="container">
    <h1>Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">

      </div>
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
        <div *ngIf="user">
     		<ul class="list-group">
        		<li class="list-group-item">First Name: &nbsp; &nbsp; {{user.first_name}}</li>
                <li class="list-group-item">Last Name: &nbsp; &nbsp; {{user.last_name}}</li>
        		<li class="list-group-item">Username: &nbsp; &nbsp; {{user.username}}</li>
        		<li class="list-group-item">Email: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{user.email}}</li>
                <li class="list-group-item">Organization: &nbsp; {{user.organization}}</li>
      		</ul>
            <br>
		</div>
      </div>
  </div>
</div>
<hr>
