<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink] = "['/']">Mission Support</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-primary" [routerLink] = "['/']">Home</button>
      </li>
      <li *ngIf="auth_service.loggedIn()" class="nav-item">
        <button type="button" class="btn btn-primary" [routerLink] = "['/sites']">Sites</button>
      </li>
      <li >
        <button type="button" class="btn btn-primary" [routerLink] = "['/about']">About Us</button>
      </li >
    </ul>
    <ul class="navbar-nav mr-sm-2">
      <li *ngIf="auth_service.loggedIn()" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item active">
        <button type="button" class="btn btn-primary" [routerLink] = "['/profile']">Profile</button>
      </li>
      <li *ngIf="!auth_service.loggedIn()" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item active">
        <button type="button" class="btn btn-primary" [routerLink] = "['/login']">Login</button>
      </li>
      <li *ngIf="!auth_service.loggedIn()" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item active">
        <button type="button" class="btn btn-primary" [routerLink] = "['/registration']">Register</button>
      </li>
      <li *ngIf="auth_service.loggedIn()" class="nav-item active">
        <button type="button" class="btn btn-primary" (click)="on_logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
